{% extends 'base.html.twig' %}

{% block content %}
    <div class="well text-center">
        <h2>Ooops! Link not found :(</h2>
    </div>

    <div class="col-md-12">
        <p>
            <a href="{{ url('homepage') }}"><h3>Create a new short link</h3></a>
        </p>
    </div>
{% endblock %}
